<settings>
	<group id="maximum_score" title="@Strings.settings_group_maximum_score" description="@Strings.settings_group_maximum_score_description">
		<setting propertyKey="@Properties.maximum_points" title="@Strings.settings_maximum_number_points_title">
			<settingConfig type="numeric" required="true" min="1" />
		</setting>

		<setting propertyKey="@Properties.absolute_maximum_points" title="@Strings.settings_absolute_maximum_number_points_title">
			<settingConfig type="numeric" required="true" min="1" />
		</setting>
	</group>

	<group id="defaults" title="@Strings.settings_group_default_options" description="@Strings.settings_group_default_options_description">
		<setting propertyKey="@Properties.default_match_type" title="@Strings.settings_default_match_type">
			<settingConfig type="list">
				<listEntry value="0">@Strings.type_single</listEntry>
				<listEntry value="1">@Strings.type_double</listEntry>
			</settingConfig>
		</setting>

		<setting propertyKey="@Properties.default_match_number_of_sets" title="@Strings.settings_default_match_number_of_sets">
			<settingConfig type="list">
				<listEntry value="0">@Strings.set_1</listEntry>
				<listEntry value="1">@Strings.set_3</listEntry>
				<listEntry value="2">@Strings.set_5</listEntry>
			</settingConfig>
		</setting>
	</group>

	<setting propertyKey="@Properties.enable_sound" title="@Strings.settings_enable_sound">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.display_time" title="@Strings.settings_display_time">
		<settingConfig type="boolean" />
	</setting>
</settings>
