<resources>
	<settings>
		<setting propertyKey="@Properties.maximum_points" title="@Strings.maximum_number_points_title">
			<settingConfig type="numeric" />
		</setting>

		<setting propertyKey="@Properties.absolute_maximum_points" title="@Strings.absolute_maximum_number_points_title">
			<settingConfig type="numeric" />
		</setting>
	</settings>
</resources>
